.edit-post-settings-sidebar__panel-block .components-panel__body .msgListColumnEntry {
    margin-bottom: 0
}

div.wp-block-catenis-blocks-message-inbox table {
    -webkit-border-horizontal-spacing: 0;
    -webkit-border-vertical-spacing: 0;
    border-spacing: 0;
}

div.wp-block-catenis-blocks-message-inbox div.rawDiv {
    display: inline-block;
}

div.wp-block-catenis-blocks-message-inbox thead th {
    font-weight: normal;
    font-size: 70%;
    padding-left: .5em;
    padding-right: .5em;
    border: darkgray solid 1px;
}

div.ctn-date-picker {
    margin-bottom: 1.5em;
}

.edit-post-settings-sidebar__panel-block .components-panel__body .components-base-control.ctn-date-picker {
    display: inline-block;
    margin-bottom: 0;
}

.components-base-control.ctn-date-picker .components-base-control__field {
    margin-bottom: 0;
}

svg.ctn-date-picker {
    margin: 0.5em 0.5em 0.6em 0.5em;
    vertical-align: bottom;
    cursor: pointer;
}